.button {
    width: fit-content;
    color: #b4b4b4;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px;
    border-color:#b4b4b4;
    border-style: solid;
    border-radius: 10px;
    transition: ease .2s;
}

.button:hover {
    border-color:#00dcb4;
}