@font-face {
  font-family: 'OpenSans';
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1c1c24;
  width: 100vw;
  height: 100vh;
  font-family: 'OpenSans';
  z-index: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2828304d;
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 32px;
  padding-bottom: 32px;
  width: fit-content;
  height: fit-content;
  color: #dedede;
  z-index: 3;
}

.largeText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
  font-size: 96px;
  font-weight:900;
  letter-spacing: -0.2rem;
}

.whiteText {
  padding-right: 4px;
  padding-left: 4px;
}

.greenText {
  color:#00dcb4;
  padding-left: 4px;
}

.smallText {
  text-align: center;
  font-size: 32px;
  letter-spacing: -0.05rem;
}
.buttonContainer {
  height: fit-content;
  width: 90%;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */

@media (max-width: 970px) {
  .largeText {
    font-size: 64px;
  }
  .greenText {
    text-align: center;
  }
  .smallText {
    font-size: 24px;
  }
  .buttonContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 625px) {
  .largeText {
    font-size: 40px;
  }
  .buttonContainer {
    flex-direction: column;
    align-items: center;
  }
  .smallText {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .largeText {
    font-size: 32px;
  }
}
@media (max-width: 320px) {
  .largeText {
    font-size: 24px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
